@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFBEB;
}

ion-icon {
  font-size: 32px;
}

input {
  padding: 10px 30px;
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 800;
  font-size: 18px;
  padding: 4px;
}

.pet {
  color: #E5BA73;
}

.btn {
  flex-wrap: wrap;
  padding: 10px;
  font-size: 18px;
  border: none;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #E5BA73, #FAAB78);
}

.section-title {
  color: #FAAB78;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 8px;
  width: fit-content;
  border-bottom: 4px solid #FAAB78;
  margin: 10px auto;
}

.section-intro {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}